/* 

red #ED1C24

*/

html {
  min-height: 100%;
  position: relative;
}

body {
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 98px;
}

h2 {
  margin-top: 40px;
}

h2 sup, p sup {
  top: -0.3em;
}

h2 sup {
  font-size: 1.6rem;
}

#content p, #content li {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.navbar.navbar-stuhr {
  background-color: #000;
  border-radius: 0;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #ed1c24;
  margin-bottom: 0;
}

.navbar-brand {
  float: none;
  position: absolute;
  z-index: 1000;
}

.navbar-brand img {
  padding-left: 15px;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #ed1c24;
}

.navbar-collapse {
  border-top: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:link,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:visited {
  color: #fff;
  font-weight: bold;
  transition: all .3s;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: #ed1c24;
  color: #000;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:link,
.navbar-default .navbar-nav > .active > a:active,
.navbar-default .navbar-nav > .active > a:visited {
  background-color: #ed1c24;
  color: #000;
  font-weight: bold;
}

.navbar-default .navbar-nav > .active > a:hover {
  background-color: #ed1c24;
  color: #fff;
}

.container-fluid > .jumbotron {
  border-radius: 0;
  margin-left: -15px;
  margin-right: -15px;
}

.jumbotron {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  overflow: hidden;
  position: relative;
}

.jumbotron-home-hero {
  background: url("../images/home-hero-cows.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.jumbotron-anion-hero {
  background: url("../images/anion-hero.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.jumbotron-anion-hero img {
  bottom: 30px;
  position: absolute;
  right: 90px;
}

.jumbotron-glucose-hero {
  background: url("../images/glucose-hero.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.jumbotron-glucose-hero img {
  bottom: 30px;
  position: absolute;
  right: 90px;
}

.jumbotron-contact-hero {
  background: url("../images/contact-hero.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.home-logo {
  margin-top: 25px;
}

.btn-primary {
  background-color: #fdb30d;
  border-color: #b37f0c;
}

.panel-title {
  font-size: 1.2em;
}

a[href^="tel"]{
  color:inherit;
  text-decoration:none;
}

.resources {
  margin-top: 30px;
}

.resources .list-group-item {
  font-size: 1.5rem;
}


.resources h2 {
  color: #fff;
  margin: 0;
  font-size: 1.8rem;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border: 1px solid #efefef;
  border-bottom: transparent;
  padding: 1rem;
  background: #158cba;
}

.footer {
  background-color: #ed1c24;
  bottom: 0;
  color: #fff;
  font-size: 1.3rem;
  height: 68px;
  padding: 1rem .8rem .8rem .8rem;
  position: absolute;
  text-align: center;
  width: 100%;
}

@media (max-width: 768px) {
  
  h1 sup {
    font-size: 2rem;
  }

  .navbar-nav {
    margin-top: 45px;
  }

  .navbar-brand img {
    height: 60px;
  }

  .jumbotron-anion-hero h1, .jumbotron-glucose-hero h1 {
    padding: 30px 0;
  }

  .jumbotron-anion-hero img, .jumbotron-glucose-hero img {
    bottom: 15px;
    right: 15px;
    width: 150px;
  }
}

@media (max-width: 632px) {

  body {
    margin-bottom: 118px;
  }

  .jumbotron-anion-hero img, .jumbotron-glucose-hero img {
    bottom: 10px;
    right: 15px;
    width: 110px;
  }

  .footer {
    height: 88px;
  }

}

@media (max-width: 403px) {
  body {
    margin-bottom: 132px;
  }
  
  .footer {
    height: 102px;
  }
}

@media (min-width: 768px) {
  h1 sup {
    font-size: 3.5rem;
  }

}