/* 

red #ED1C24

*/

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 98px;
}

.navbar.navbar-stuhr {
  background-color: #000;
  border-bottom: 2px solid #ed1c24;
  margin-bottom: 0;
}

.navbar-brand {
  float: none;
  position: absolute;
}

.navbar-brand img {
  padding-left: 15px;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-nav > li > a,
.navbar-nav > li > a:link,
.navbar-nav > li > a:active,
.navbar-nav > li > a:visited {
  color: #fff;
  font-weight: bold;
}

.navbar-nav > li > a:hover {
  background-color: #ed1c24;
  color: #000;
}


.home-hero {
  background: url("../images/home-hero-cows.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  color: #fff;
  text-shadow: 1px 0px 8px #000;
}


.btn-primary {
  background-color: #fdb30d;
  border-color: #b37f0c;
}

.footer {
  background-color: #ed1c24;
  bottom: 0;
  color: #fff;
  height: 68px;
  padding: .8rem;
  position: absolute;
  width: 100%;
}

@media (max-width: 768px) {

  body {
    margin-bottom: 118px;
  }

  .footer {
    height: 88px;
  }

}